
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Secret Santa for eMigrate</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <!-- CSS reset -->

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/new-age.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/albus.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">When you are bed ridden and have so much time, you will end up with something like this !!!!</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
              <li><a href="https://twitter.com/rohitsharmacr" class="text-white">Follow on Twitter</a></li>
              <li><a href="https://facebook.com/rohitsharmacr" class="text-white">Like on Facebook</a></li>
              <li><a href="mailto:rohit.shar@tcs.com" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
          <i class="fas fa-gifts">  </i>
            <strong>Secret Santa</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Secret Santa</h1>
          <p class="lead text-muted">Yesterday is history, Tomorrow is a mystery but today is a gift. That is why it is called as the <b>Present</b></p>
          <p>
          <form name="submitMessage" id="contactForm" novalidate="novalidate" action="/" method="post">
              
          <input type="hidden" name="item" id="check">
          <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Please Select Your Name
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Mark John</a>
            <a class="dropdown-item">Mahesh Purohit</a>
            <a class="dropdown-item">Pintu Saxena</a>
            <a class="dropdown-item">Akhil Jindal</a>
            <a class="dropdown-item">Sassy Queen</a>
            <a class="dropdown-item">Makensy Queen</a>
            <a class="dropdown-item">Ashok Prakash</a>
            <a class="dropdown-item">Bultu Pandey</a>
            <a class="dropdown-item">Sidhu Saxena</a>
          </div>
        </div>
        <button type="submit" class="btn btn-primary my-2" id="sendMessageButton">Submit</button>
          </p>
        </div>
        </form>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

        <p class="cd-headline rotate-1 mx-auto" style="width: 960px">
        <span style="margin-left:200px;">YOU WILL BE THE SECRET SANTA OF </span>
        <span class="cd-words-wrapper">
            <b class="is-visible">Mark John</b>
            <b>Mahesh Purohit</b>
            <b>Pintu Saxena</b>
            <b>Sassy Queen</b>
            <b>Makensy Queen</b>
            <b>Ashok Prakash</b>
            <b>Bultu Pandey</b>
            <b>Sidhu Saxena</b>
        </span>
    </p> 
          
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>This page is created for the solely purpose of selecting a random Santa.</p>
        <p>Don't cheat, first check yours and then find out a perfect gift !!</p>
      </div>
    </footer>

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/vendor/jquery/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.min.js"></script>
    <script src="/js/main.js"></script>

    <script>
    $(".dropdown-toggle").dropdown();

    $('.dropdown-menu').on( 'click', 'a', function() {
      var target = $(this).closest('.dropdown').find('.dropdown-toggle')
      var selectedVal = $(this).html();
      var htmlText = selectedVal ;
      $('#check').val(selectedVal)
      target.html(htmlText);
    });
    </script>
  </body>
</html>
