@-webkit-keyframes explosion {
    10% {
      content: "1";
      color: white;
      font-size: 20px;
    }
    20% {
      content: "2";
      color: white;
      font-size: 40px;
    }
    30% {
      content: "3";
      color: white;
      font-size: 60px;
    }
    40% {
      content: "4";
      color: white;
      font-size: 80px;
    }
    50% {
      content: "5";
      color: white;
      font-size: 100px;
    }
    60% {
      content: "6";
      color: white;
      font-size: 120px;
    }
    70% {
      content: "7";
      color: white;
      font-size: 140px;
    }
    80% {
      content: "8";
      color: white;
      font-size: 160px;
    }
    90% {
      content: "9";
      color: white;
      font-size: 180px;
    }
    100% {
      content: "10";
      color: white;
      font-size: 200px;
    }
  }
  @keyframes explosion {
    10% {
      content: "1";
      color: white;
      font-size: 20px;
    }
    20% {
      content: "2";
      color: white;
      font-size: 40px;
    }
    30% {
      content: "3";
      color: white;
      font-size: 60px;
    }
    40% {
      content: "4";
      color: white;
      font-size: 80px;
    }
    50% {
      content: "5";
      color: white;
      font-size: 100px;
    }
    60% {
      content: "6";
      color: white;
      font-size: 120px;
    }
    70% {
      content: "7";
      color: white;
      font-size: 140px;
    }
    80% {
      content: "8";
      color: white;
      font-size: 160px;
    }
    90% {
      content: "9";
      color: white;
      font-size: 180px;
    }
    100% {
      content: "10";
      color: white;
      font-size: 200px;
    }
  }
  .bomb {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bomb:after {
    font-size: 50px;
    content: "HO!! HO!! HO!!";
    display: block;
    color: red;
    text-align: center;
    animation: explosion 7s linear reverse;
    transition: color .1s ease;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: "fira-sans-2", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    font-weight: bold;
  }